body{
    background-color: aquamarine;
}
.box{
    background-color: red;
    width:50vh;
    height: 50vh;
}

.box1{
    background-color: rgb(9, 255, 0);
    height: 100vh;
}

.box2{
    background-color: rgb(55, 0, 255);
    height: 100vh;
}

.box3{
    background-color: rgb(255, 0, 157);
    height: 100vh;
}